<class="content-section">
    form maathos="POST" action=''>
    {{ form.hidden_tag() }}
    <fieldset class='form-group'></fieldset>
    <legend clss='border-bottom'>User Registration</legend>
    <div class="form-group"></div>
    {{ form.firstname.label (class="form-control-label") }}
    {% if form.firtname.errors %}
    {{ form.firstname(
        class="form-control form-control-lg is invalid")}}
        <div class="invalid-feedback">
            {% for error in form.firstname.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.firstname.label (class="form-control form-control-lg") }}
        {% endif %}
        </div>

        {{ form.lastname.label (class="form-control-label") }}
        {% if form.lastname.errors %}
        {{ form.lastname(
            class="form-control form-control-lg is invalid")}}
            <div class="invalid-feedback">
                {% for error in form.lastname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.lastname.label (class="form-control form-control-lg") }}
            {% endif %}
            </div>

            {{ form.email.label (class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(
                class="form-control form-control-lg is invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email.label (class="form-control form-control-lg") }}
                {% endif %}
                </div>

                {{ form.alias.label (class="form-control-label") }}
                {% if form.alias.errors %}
                {{ form.alias(
                    class="form-control form-control-lg is invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.alias.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.alias.label (class="form-control form-control-lg") }}
                    {% endif %}
                    </div>

                    {{ form.password.label (class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(
                        class="form-control form-control-lg is invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password.label (class="form-control form-control-lg") }}
                        {% endif %}
                        </div>

                        {{ form.confirm_password.label (class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(
                            class="form-control form-control-lg is invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password.label (class="form-control form-control-lg") }}
                            {% endif %}
                            </div>


                            
                        {{ form.sumbit.label (class="form-control-label") }}
                        {% if form.sumbit.errors %}
                        {{ form.sumbit(
                            class="form-control form-control-lg is invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.sumbit.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.sumbit.label (class="form-control form-control-lg") }}
                            {% endif %}
                            </div>







                            







                        
                   
